<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap">

	<Identity
	  Name="e7581308-b151-4161-a89c-adc73206c06b"
	  Publisher="CN=Neptuo"
	  Version="0.21.0.0" />

	<Properties>
		<DisplayName>Snippet Manager by Neptuo</DisplayName>
		<PublisherDisplayName>Neptuo</PublisherDisplayName>
		<Logo>Images\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="Snippet Manager by Neptuo"
			  Description="Paste text snippets into any Windows application"
			  Square150x150Logo="Images\Square150x150Logo.png"
			  Square44x44Logo="Images\Square44x44Logo.png" BackgroundColor="#2f70f1">
				<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png" ShortName="Snippet Manager">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square310x310Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile >
				<uap:SplashScreen Image="Images\SplashScreen.png"  BackgroundColor="#2f70f1"/>
			</uap:VisualElements>

			<Extensions>
				<desktop:Extension Category="windows.startupTask" Executable="Neptuo.Productivity.SnippetManager.UI\Neptuo.Productivity.SnippetManager.UI.exe" EntryPoint="Windows.FullTrustApplication">
					<desktop:StartupTask TaskId="SnippetManagerStartup" Enabled="true" DisplayName="Snippet Manager by Neptuo" />
				</desktop:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
